/* canvas {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

html, body {
    margin: 0;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

.panel {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 1%;
    outline-style: solid;
    outline-color: #0000cd;
    outline-width: medium;
    background-color: aliceblue;
}

.orderPanel {
    text-align: center;
}

.orderList {
    display: inline-flex;
    flex-direction: row;
}

.domainList {
    display: flex;
    flex-direction: column;
}

.domainRow {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.domainRow .mq-editable-field {
    border: unset;
    border-bottom: 1.5px solid gray;
    margin-left: 25px;
    margin-right: 25px;
}

.equationEditor {
    display: flex !important;
    width: 100px;
    transform: translate(0, -25%);
}

.equationEditor .mq-root-block {
    align-self: flex-end;
}